{{#partial "content"}}
   <div class="container p-5">
       <div class="alert alert-success" role="alert">
           <h4 class="alert-heading">Well done!</h4>
           <p>Good progress.</p>
           <a class="btn btn-success" href="/hero">View Heroes and Squads</a>
       </div>
   </div>
{{/partial}}

{{> layout.hbs}}